* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif !important;
}

.Container {
    max-width: 1440px;
    padding: 0px 165px;
    margin: 0 auto;

}

.fade-in-from-top {
    opacity: 0;
    transform: translateY(-100%);
    animation: fade-in 1s ease-out forwards;
}

@keyframes fade-in {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.rotate-360 {
    animation: rotate 4s ease-in 1s 3;
}

@keyframes rotate {
    0% {}

    85% {
        position: absolute;
        bottom: 300px;
        right: 0px;
    }
}

.rotate-390line {
    animation: rotates 4s ease-in 1s 3;
}

@keyframes rotates {
    0% {
        position: absolute;
        bottom: 300px;
        right: 0px;
    }
}

.border {
    border: 1px solid rgb(84, 80, 80);
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 5px;
    height: 1px;
}

::-webkit-scrollbar-track {
    width: 10px !important;
    padding: 0 15px 0 0;
    background: white;
    opacity: 0.5;
    border-radius: 30px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    padding: 10px !important;
}

::-webkit-scrollbar-thumb {
    padding: 30px 0px;
    background: #a8aab0;
    border-radius: 30px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.group-button {
    padding: 10px;
    border: 1px solid black;
    width: 275px;
}

.bground {
    background: black !important;
    color: white !important;
}

@media screen and (min-width:1246px) {
    .nav-hamburger {
        display: none;
    }
}

@media screen and (max-width:1246px) {
    .mobile-nav-item {
        display: none !important;
    }

    .mobile-nav-btn {
        background: #000000;
        color: white !important;
    }

    .Container {
        padding: 0px 50px;
    }
}

@media screen and (max-width:740px) {
    .mobile-nav-btn {
        display: none;

    }

}