*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.Container{
    max-width: 1440px;
    padding: 0px 165px;
    margin: 0 auto;
    
}
.fade-in-from-top {
    opacity: 0;
    transform: translateY(-100%);
    animation: fade-in 1s ease-out forwards;
}

@keyframes fade-in {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.rotate-360 {
    animation: rotate 3s linear 1s 2;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}